<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./assets/css/global.css" rel="stylesheet">
    
    <style type="text/css">
	  
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
  	<div class="overlay"></div>
    <div class="login-overlay"></div>
    
	<div class="panel p-left p-search">
        <h4>Advanced Search Panel</h4>
        <hr>
        <ul class="p-group">
        <li> <b>Price range</b> &nbsp; &nbsp; &nbsp;  S$ 0 - S$ 10000<br><div id="slider-range"></div></li><hr>
        <li> 
            <b>Tags relevance</b>
            <div class="btn-group btn-tags" data-toggle="buttons-radio">
              <button class="btn btn-primary active">None</button>
              <button class="btn btn-primary">Select all</button>
              <button class="btn btn-primary">Discard all</button>
            </div>
            <ul class="tags-group">
                <li><i class="trig"></i>Appliances</li>
                <li><i class="trig"></i>Arts</li>
                <li><i class="trig"></i>Beauty</li>
                <li><i class="trig"></i>Books</li>
                <li><i class="trig"></i>CD/DVD</li>
                <li><i class="trig"></i>Appliances</li>
                <li><i class="trig"></i>Arts</li>
                <li><i class="trig"></i>Beauty</li>
                <li><i class="trig"></i>Books</li>
                <li><i class="trig"></i>CD/DVD</li>
            </ul>
        </li>
        </ul>
    </div>
    
	<div class="panel p-right">
    	<div class="arrow"></div>
        <ul class="p-group">
        	<li class="signin" ><form> 
            <input type="text" class="input-medium" placeholder="Email">
  			<input type="password" class="input-medium" placeholder="Password">
  			<label class="checkbox" ><input type="checkbox" >Remember me </label> <button type="submit" class="btn btn-primary btn-signin">&nbsp Sign in &nbsp</button> </form></li>
        </ul>
        <hr>
        <div class="signuptitle">
            <h3>New to U-mall?</h3>
            <h5>Sign up and start posting your stuff</h5>
        </div>
        <ul class="p-group">
        	<li class="signup"><form> 
            <input type="text" class="input-medium" placeholder="Full Name">
            <input type="text" class="input-medium" placeholder="Email">
  			<input type="password" class="input-medium" placeholder="Password">
  			<button type="submit" class="btn btn-danger btn-large btn-signup">Sign up for U-mall</button> </form></button>
        </ul>
        <hr>
        <ul class="p-group p-hover">
            <a href=#><li><i class="icon-question-sign"></i>FAQ List<i class="icon-chevron-right pull-right"></i></li></a>
            <hr>
            <a href=#><li><i class="icon-envelope"></i>Contact us<i class="icon-chevron-right pull-right"></i></li></a>
        </ul>
    </div>	
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner ">
      	<div class="row">
        	<div class="span2 hidden-phone">
                <form class="form-search searchbar">
                      <div class="input-append">
                           <input class="input-small search-query"  placeholder="Search" id="appendedInput" size="16" type="text"><span class="add-on"><i class="icon-search"></i></span>
                      </div>
                </form>
            </div>
            <div class="span2">
              <a class="logo logo-mid hidden-phone" href="#"></a>
              <a class="logo logo-left visible-phone" href="#"></a>
            </div>
            <div class="span3 login pull-right">
              <i class="icon-user"></i> Account & Help
            </div>
        </div>
      </div>
    </div>
	<br><br><br>
    
    <div class="container">
   	
    </div> <!-- /container -->
    	
<footer class="hidden-phone">
<hr>
    <div class="container">
    <div class="row">
    <ul class="map span2">
      <li class="first"><a href="/" rel="bookmark" target="_self" class="section">Home</a></li>
      <li><a href="/?p=42" rel="bookmark" target="_self">Contact Us</a></li>
      <li><a href="http://campusbus.ntu.edu.sg/ntubus" rel="bookmark" target="_blank">Shuttle Bus Map</a></li>
      <li><a href="http://maps.ntu.edu.sg/maps" rel="bookmark" target="_blank">Campus Map</a></li>
      <li><a href="http://www.ntu.edu.sg/Services/StudentServices/admin/Pages/Lostfoundservices.aspx" rel="bookmark" target="_blank">Lost &amp; Found</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=3" rel="bookmark" target="_self" class="section">Events</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=56" rel="bookmark" target="_self">Orientation Camp</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=58" rel="bookmark" target="_self">Welcome Week</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=60" rel="bookmark" target="_self">Union Day</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=65" rel="bookmark" target="_self">U-Flea Market</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=67" rel="bookmark" target="_self">NTU Open House</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=69" rel="bookmark" target="_self">ICTF</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=117" rel="bookmark" target="_self">ICON</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=71" rel="bookmark" target="_self">Ministerial Forum</a></li>
          </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=12" rel="bookmark" target="_self" class="section">Clubs</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=30">Academics</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=32">Arts &amp; Cultures</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=34">Religions</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=36">Special Interests</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=4" rel="bookmark" target="_self" class="section">Projects</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=73" rel="bookmark" target="_self">U-Study Campaign</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=75" rel="bookmark" target="_self">Tribune</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=77" rel="bookmark" target="_self">NTU Perks!</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=83" rel="bookmark" target="_self">Students' Fund</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=79" rel="bookmark" target="_self">Peer Tutoring Scheme</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=81" rel="bookmark" target="_self">NTUSU-BP Mentoring</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=86" rel="bookmark" target="_self">Shuttle Bus Services</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=5" rel="bookmark" target="_self" class="section">Services</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=88" rel="bookmark" target="_self">U-Facility</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=406" rel="bookmark" target="_self">U-Swap</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=92" rel="bookmark" target="_self">U-ROC</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=90" rel="bookmark" target="_self">U-Talk</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=705" rel="bookmark" target="_self">Your Feedback</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=16" rel="bookmark" target="_self" class="section">Representation</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=40" rel="bookmark" target="_self">Executive Committee</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=42" rel="bookmark" target="_self">Contacts</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=44" rel="bookmark" target="_self">Council Members</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=46" rel="bookmark" target="_self">About Union</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=1126" rel="bookmark" target="_self">Council Meeting Minutes</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=1251" rel="bookmark" target="_self">Exco Meeting Minutes</a></li>
    </ul>
    </div></div>
</footer>
<div class="footerphone visible-phone"><hr>© NTU Student Union 2012</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/bootstrap-alert.js"></script>
    <script src="./assets/js/bootstrap-button.js"></script>
    <script src="./assets/js/script.js"></script>
  </body>

</html>
