<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./assets/css/global.css" rel="stylesheet">
    
    <style type="text/css">
	  /*BANNER */
	  .banner{
		  margin:50px auto 50px -60px;
		  border-radius:10px;
		  width:1059px;
		  background: url(assets/img/banner4.jpg) no-repeat;
		  height:267px;
	  }
	
	/* Grid PRODUCT THUMBNAIL */
	.s-shade{
		width:940px;
		height:10px;
		background:url(assets/img/s-shade.jpg);
		margin-bottom:30px;}
		
	.t-head{
		margin-bottom:30px;
	}
	.t-head h1{
		line-height:50px;
		color:#000;
		text-align:left;
		text-shadow: 0px 0px 1px #000;
		}
		
	.t-head p{
		text-align:justify;
		line-height:25px;}
	
	.item-title{
		color:#000;
		font-weight:bold;
		}
	.item-price{
		color: #000;
		}
		
	.item-overlay{
		background: url(assets/img/glossy.png);
		width:198px;
		height:198px;
		position:absolute;}
	.thumbnail > img {
		border-radius:3px;
		box-shadow: 0 0 2px #333;
		}
	.thumbnails{
		margin-bottom:-30px;}
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
  	<div class="overlay"></div>
    <div class="login-overlay"></div>
    
	<div class="panel p-left p-search">
        <h4>Advanced Search Panel</h4>
        <hr>
        <ul class="p-group">
        <li> <b>Price range</b> &nbsp; &nbsp; &nbsp;  S$ 0 - S$ 10000<br><div id="slider-range"></div></li><hr>
        <li> 
            <b>Tags relevance</b>
            <div class="btn-group btn-tags" data-toggle="buttons-radio">
              <button class="btn btn-primary active">None</button>
              <button class="btn btn-primary">Select all</button>
              <button class="btn btn-primary">Discard all</button>
            </div>
            <ul class="tags-group">
                <li><i class="trig"></i>Appliances</li>
                <li><i class="trig"></i>Arts</li>
                <li><i class="trig"></i>Beauty</li>
                <li><i class="trig"></i>Books</li>
                <li><i class="trig"></i>CD/DVD</li>
                <li><i class="trig"></i>Appliances</li>
                <li><i class="trig"></i>Arts</li>
                <li><i class="trig"></i>Beauty</li>
                <li><i class="trig"></i>Books</li>
                <li><i class="trig"></i>CD/DVD</li>
            </ul>
        </li>
        </ul>
    </div>
    
	<div class="panel p-right">
    	<div class="arrow"></div>
        <ul class="p-group p-hover">
            <a href="./notification/index.html"><li><i class="icon-notif">8</i>Notification<i class="icon-chevron-right pull-right"></i></li></a>
            <hr>
            <a href="#"><li><i class="icon-wrench"></i>Profile Setting<i class="icon-chevron-right pull-right"></i></li></a>
            <hr>
            <a href="#"><li><i class="icon-off"></i>Sign Out<i class="icon-chevron-right pull-right"></i></li></a>
        </ul>
        <hr>
        <ul class="p-group p-hover">
            <a href="#"><li><i class="icon-eye-open"></i>Bids Tracking<i class="icon-chevron-right pull-right"></i></li></a>
            <hr>
            <a href="#"><li><i class="icon-money"></i>Sell an item<i class="icon-chevron-right pull-right"></i></li></a>
            <hr>
            <a href="#"><li><i class="icon-list"></i>Manage Displayed Items<i class="icon-chevron-right pull-right"></i></li></a>
        </ul>
    </div>	
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner ">
      	<div class="row">
        	<div class="span2 hidden-phone">
                <form class="form-search searchbar">
                      <div class="input-append">
                           <input class="input-small search-query"  placeholder="Search" id="appendedInput" size="16" type="text"><a href="./dynamic-search.html" ><span class="add-on"><i class="icon-search"></i></span></span>
                      </div>
                </form>
            </div>
            <div class="span2">
              <a class="logo logo-mid hidden-phone" href="#"></a>
              <a class="logo logo-left visible-phone" href="#"></a>
            </div>
            <div class="span3 login pull-right">
              <i class="icon-user"></i> Account & Help
            </div>
        </div>
      </div>
    </div>
    
    
    <!--<div class="banner-overlay hidden-phone hidden-tablet"></div>-->
    
	<br><br><br>
    
    <div class="container">
   	<div class="categ_wrapper">
        <ul class="categories">
            <li><a>Appliances</a></li>
            <li><a>Arts</a></li>
            <li><a>Beauty</a></li>
            <li><a>Books</a></li> 
            <li><a>CD/DVD</a></li>
            <li><a>Clothings</a></li>
            <li><a>Computers</a></li>
            <li><a>Electronics</a></li>
            <li><a>Kitchen</a></li>
            <li><a>Handphones</a></li>
            <li><a>Jewelries</a></li>
            <li><a>NBS</a></li>
            <li><a>SCE</a></li>
            <li><a>SBS</a></li>
            <li><a>SPMS</a></li>
            <li><a>MAE</a></li>
            <li><a>MSE</a></li>
            <li><a>Handphones</a></li>
            <li><a>Jewelries</a></li>
            <li><a>NBS</a></li>
            <li><a>SCE</a></li>
            <li><a>SBS</a></li>
            <li><a>SPMS</a></li>
            <li><a>MAE</a></li>
            <li><a>MSE</a></li>
            <li><a>NBS</a></li>
            <li><a>SCE</a></li>
            <li><a>SBS</a></li>
            <li><a>SPMS</a></li>
            <li><a>MAE</a></li>
            <li><a>MSE</a></li>
            <li><a>NBS</a></li>
            <li><a>SCE</a></li>
            <li><a>SBS</a></li>
            <li><a>SPMS</a></li>
            <li><a>MAE</a></li>
            <li><a>MSE</a></li>
    	</ul>
    </div>
	<!--<img class="banner" src="assets/img/banner4.jpg">-->
    <div class="banner"></div>
    
    <div class="t-head">
    <h1>Browse and bid your college mate collections</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when  typesetting. <a href="#"> Learn more about the bidding system</a></p>
    </div>
    
    <div class="s-shade"></div>
    
    <!-- <span class="label label-inverse">Recent items ></span> -->
    <br>
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <div class="item-overlay"></div>
          <img src="./assets/img/thumb1.jpg" alt="">
        </a>
        <p class="item-title">Espresso and Cappuccino Maker</p>
        <p class="item-price">Starting price: $59</p>
       
      </li>
	</ul>
    </div> <!-- /container -->
    	
<footer class="hidden-phone">
<hr>
    <div class="container">
    <div class="row">
    <ul class="map span2">
      <li class="first"><a href="/" rel="bookmark" target="_self" class="section">Home</a></li>
      <li><a href="/?p=42" rel="bookmark" target="_self">Contact Us</a></li>
      <li><a href="http://campusbus.ntu.edu.sg/ntubus" rel="bookmark" target="_blank">Shuttle Bus Map</a></li>
      <li><a href="http://maps.ntu.edu.sg/maps" rel="bookmark" target="_blank">Campus Map</a></li>
      <li><a href="http://www.ntu.edu.sg/Services/StudentServices/admin/Pages/Lostfoundservices.aspx" rel="bookmark" target="_blank">Lost &amp; Found</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=3" rel="bookmark" target="_self" class="section">Events</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=56" rel="bookmark" target="_self">Orientation Camp</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=58" rel="bookmark" target="_self">Welcome Week</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=60" rel="bookmark" target="_self">Union Day</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=65" rel="bookmark" target="_self">U-Flea Market</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=67" rel="bookmark" target="_self">NTU Open House</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=69" rel="bookmark" target="_self">ICTF</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=117" rel="bookmark" target="_self">ICON</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=71" rel="bookmark" target="_self">Ministerial Forum</a></li>
          </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=12" rel="bookmark" target="_self" class="section">Clubs</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=30">Academics</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=32">Arts &amp; Cultures</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=34">Religions</a></li>
    <li><a href="http://su.ntu.edu.sg/?p=36">Special Interests</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=4" rel="bookmark" target="_self" class="section">Projects</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=73" rel="bookmark" target="_self">U-Study Campaign</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=75" rel="bookmark" target="_self">Tribune</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=77" rel="bookmark" target="_self">NTU Perks!</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=83" rel="bookmark" target="_self">Students' Fund</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=79" rel="bookmark" target="_self">Peer Tutoring Scheme</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=81" rel="bookmark" target="_self">NTUSU-BP Mentoring</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=86" rel="bookmark" target="_self">Shuttle Bus Services</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=5" rel="bookmark" target="_self" class="section">Services</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=88" rel="bookmark" target="_self">U-Facility</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=406" rel="bookmark" target="_self">U-Swap</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=92" rel="bookmark" target="_self">U-ROC</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=90" rel="bookmark" target="_self">U-Talk</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=705" rel="bookmark" target="_self">Your Feedback</a></li>
    </ul>
    <ul class="map span2">
      <li class="first"><a href="?cat=16" rel="bookmark" target="_self" class="section">Representation</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=40" rel="bookmark" target="_self">Executive Committee</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=42" rel="bookmark" target="_self">Contacts</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=44" rel="bookmark" target="_self">Council Members</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=46" rel="bookmark" target="_self">About Union</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=1126" rel="bookmark" target="_self">Council Meeting Minutes</a></li>
      <li><a href="http://su.ntu.edu.sg/?p=1251" rel="bookmark" target="_self">Exco Meeting Minutes</a></li>
    </ul>
    </div></div>
</footer>
<div class="footerphone visible-phone"><hr>© NTU Student Union 2012</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/bootstrap-alert.js"></script>
    <script src="./assets/js/bootstrap-button.js"></script>
    <script src="./assets/js/script.js"></script>
    <script type="text/javascript">
		// COPY PRODUCT *MALES
		var a = $('.thumbnails');
		var b = a.html();
		
		for (i=1; i<8; i++){a.append(b);};	
    </script>
  </body>

</html>
