body{ /*DISINI GW UBAH date:29/6 */
	overflow-y: scroll; }

.color-green{
	color:#48b300;}
.color-warning{
	color:#f68d1c;}
.color-gray{
	color:#888;}

/*Logo navbar */
a.logo{
  background: url(../img/logo.png) no-repeat;
  height:35px; 
  width:146px;
  display:block;
  padding-bottom:-10px;
  position:absolute;}
a.logo-mid{
  left:50%; /*align mid */
  margin-left:-72px;}
a.logo-left{
   margin-left:20px;}
  
/* header*/
.content-header{
	text-align:center;
	padding:30px;}
	
/* search*/
.searchbar{
	position:absolute;
	margin:5px 20px;}
.searchbar .icon-search{
	margin: 2px;}
.searchbar .search-query{
	opacity:0.98;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s ease-out; /* Safari and Chrome */
	-o-transition: all 0.2s; /* Opera */}
/*.searchbar .search-query:focus{
	opacity:1;
	width:185px;}	*/

/*login */
.login{
	margin: 10px 0px;
	position:absolute;
	right:20px;
	text-align:right;
	color: #fff;
	cursor:pointer;}
.login .icon-user{
	margin: 1px 10px;}
.btn-signin{
	margin-top:-39px;
	margin-left:135px;}
.btn-signup{
	margin-left:54px;
	font-weight:bold;}
.input-email-panel{
	width:118px;}
/*.signuptitle{
	background:#f3b2b4;
	margin-bottom:20px;
	margin-top:-10px;
	margin-left:-10px;
	padding: 2px 10px;
	box-shadow:1px 1px 1px #888;}*/
.signuptitle{
	color: #777;
	font-size:16px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	border-bottom: 1px solid #E2E2E2;
	box-shadow: 0 1px 0 white;
	padding: 13px 10px;
	margin: -10px -10px 10px -10px;
	}
.signuptitle strong{
	color: #333;
	font-weight:500;
}
.arrow{
	width:22px;
	height:16px;
	background:url(../img/arrow.png);
	display:block;
	margin: -13px auto 20px 121px;}
	
/*PANEL */
.overlay{ /*clickable area to close panel*/
	position:fixed;
	height:100%;
	width:100%;
	background:#333;
	opacity:0.7;
	z-index:2;
	display:none;}	
.login-overlay{
	position:fixed;
	right:0px;
	height:48px;
	width:150px;
	opacity:0.5;
	z-index:9999;
	display:none;
	cursor:pointer;}
.panel{
	width:265px;
	height:100%;
	overflow:;
	background: url(../img/texture.jpg);
	position:fixed;
	z-index:10;
	display:block;
	border-right: 1px solid #ccc;
	box-shadow: -1px 2px 1px #e5e3e3;
	padding-top:60px;}
.panel h4{
	text-align:center;
	height:30px;
	background:#d5d5d4;
	margin:-12px auto -19px auto;
	line-height:32px;
	color: #3b4245;
	text-shadow: 2px 2px 1px rgba(245,245,245,0.6),0px 0px 1px #000;}
.panel hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #fff;}
ul.p-group{
	border-radius:10px;
	background: #fff;
	border: 1px solid #bdbdbd;
	margin: 0 15px;
	overflow:hidden;}
ul.p-group > hr{
	margin-top:0px;
	margin-bottom:0px;
	border-bottom: none;}
ul.p-group > li{
	padding:10px;
	list-style:none;}
ul.p-group > a > li{
	padding:10px;
	list-style:none;}
ul.p-group > a{
	text-decoration:none;
	color:#000;}
a.forgotpass{
	color:#999;
	font-size:11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	margin-top:6px;
	margin-left:3px;
	cursor:pointer;}
ul.p-group a.forgotpass:hover{
	text-decoration: underline;}
ul.p-group li .pricerange{
	margin-top:-5px;
	display:block;}
ul.p-group > li.signin{
	height:92px;
	/*background:-webkit-linear-gradient(top,white 0,#DDD 400%);
	background: -moz-linear-gradient(top,white 0,#DDD 100%);
	background: -ms-linear-gradient(top,white 0,#DDD 100%);
	background: -o-linear-gradient(top,white 0,#DDD 100%);
	background: linear-gradient(top,white 0,#DDD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);*/}
ul.p-group > li.signup{
	height:188px;
	background:-webkit-linear-gradient(top,white 0,#DDD 100%);
	background: -moz-linear-gradient(top,white 0,#DDD 500%);
	background: -ms-linear-gradient(top,white 0,#DDD 500%);
	background: -o-linear-gradient(top,white 0,#DDD 500%);
	background: linear-gradient(top,white 0,#DDD 500%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);}
ul.p-hover > a > li:hover{
	background: #01a2f8; /* Old browsers */
	background: -moz-linear-gradient(top, #01a2f8 0%, #0090c9 100%, #207cca 100%, #2989d8 100%, #0082c8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01a2f8), color-stop(100%,#0090c9), color-stop(100%,#207cca), color-stop(100%,#2989d8), color-stop(100%,#0082c8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #01a2f8 0%,#0090c9 100%,#207cca 100%,#2989d8 100%,#0082c8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #01a2f8 0%,#0090c9 100%,#207cca 100%,#2989d8 100%,#0082c8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #01a2f8 0%,#0090c9 100%,#207cca 100%,#2989d8 100%,#0082c8 100%); /* IE10+ */
	background: linear-gradient(top, #01a2f8 0%,#0090c9 100%,#207cca 100%,#2989d8 100%,#0082c8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a2f8', endColorstr='#0082c8',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	color:#fff;}
ul.p-hover li i{
	margin-top:1px;}
ul.p-hover li i:first-child{
	margin-right:5px;}
.btn-tags{
	margin: 10px auto;}
.tags-group{
	margin-left:0px;
	padding-bottom:50px;}
.tags-group:after{ 
	clear:both;}
.tags-group li{
	list-style:none;
	float:left;
	width:105px;}
.tags-group li input{ 
	margin-top:-1px;}
.tags-group li:last-child{
	padding-bottom:10px;}
.multipleselection{
	margin-left:80px;
	margin-top:-20px;}
.sortby{
	margin-left:80px;
	width:130px;
	margin-top:-30px;
	padding-bottom:-60px;}
#amountmin,#amountmax{
	border:none;
	box-shadow:none;
	margin-top:6px;
	box-shadow:none;
	border:none;
	}
#amountmax{
	width:30px;}
#amountmin{
	width:29px;}	
	
#slider-range{
	width:202px;
	margin-left:7px;
	margin-bottom:10px;
	box-shadow:none;
	color:#fff;}
.p-left{
	left:-300px;}
.p-right{
	right:-300px;}
	
	/* DISINI GW UBAH (delete trig)*/
	
.icon-notif{
	width:14px;
	height:12px;
	background:#ed1c24;
	color:#fff;
	font-style:normal;
	font-size: 10px;
	line-height:11px;
	font-weight:bold;
	text-align:center;
	margin:2px 0px;
	border-radius:5px;
	box-shadow: 0px 0px -1px #000;
	}

/*categories*/
ul.categories{
	list-style:none; 
	font-size:14px;
	text-align:center;
	margin-left:-10px; /*to offset padding*/
	height:30px;
	}	

ul.categories li a {
	float:left;
	padding: 5px 10px;
	color:#000;
	cursor: pointer;
	text-align: center;}
ul.categories li a:hover{
	color:#0082c8;
	text-decoration:none;}
.categ_wrapper{
	width:100%;
	height:30px;
	overflow:hidden;}

/* FOOTER */
footer{
	background-color: #f7fbfd;
	display:block;
	margin-top:80px;}
footer .map{
	float:left;
	list-style:none;}
footer ul li a{
	color:#666;
	line-height:30px;
	font-size:14px;}	
footer ul li a:hover{
	color:#666;}
footer .map li.first a{
	font-size: 1.2em;
	color: #32838E;}
.footerphone{
	padding-bottom:20px;}